body {
  background-color: #FFFFEO: /* WARNA KUNING CERAH */
font-family: arial,, sans-serif; /* JENIS HURUF YANG BERSIH DAN MUDAH DIBACA */
color: #191970: /* warna teks utama (biru gelap) */
}

.kartu-profil {
  width:300px;
  margin: 50px; /* 500px jarak atas/bawah, auto menengahkan kiri/kanan /*
  padding: 20px ;
  background-colour: white;
  border-radius:15px; /* membuat sudut menjadi melengkung */
box-shadow:0,4px  8pb rgba(0,0,0,0,1); /* efek bayangan */
  text-align: center; /*menengahkan semua teks didalam kartu */
}


.kartu-profil img {
  width: 150px;
  border-radius: 50%; /* trik untuk membuat gambar persegi menjadi lingkaran sempurna
}
